/* General Setup */

.container {
  align-items: center;
  background: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  align-items: center;
  display: flex;
  text-align: center;
}

.main {
  flex: 1;
  position: relative;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 5px;
}

/* Video + Canvas */

.video {
  position: absolute;
  height: auto;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 700px;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

.frame {
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 1s ease-in-out;
}

/* Webcam Toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
