.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.header {
  display: table;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  height: 80px;
  width: 100%;
}

.header .title {
  display: table-cell;
  font-weight: bold;
  vertical-align: middle;
  font-size: 25px;
}

.main {
  position: relative;
  flex: 1;
  padding: 5rem 0;
  width: 100%;
}

.video {
  position: absolute;
  height: auto;
  margin: auto;
  top: 20px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 700px;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}
