/* @see https://www.ui-components.com/Loader */

.container {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.loader5 {
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow:
    0 -2rem 0 #eee,
    1.4rem -1.4rem 0 #ddd,
    2rem 0 0 #ccc,
    1.4rem 1.4rem 0 rgba(51, 60, 94, 0.2),
    0 2rem 0 rgba(51, 60, 94, 0.4),
    -1.4rem 1.4rem 0 rgba(51, 60, 94, 0.6),
    -2rem 0 0 rgba(51, 60, 94, 0.8),
    -1.4rem -1.4rem 0 #333c5f;
  margin: 90px auto;
  height: 1.2rem;
  width: 1.2rem;
  animation: loader5 1s steps(8) 0s infinite;
}

@keyframes loader5 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
